.fantasy-calendar-picker {
    padding: 5px 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.fantasy-calendar-full.view-content {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.fantasy-calendar-dropdown {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding-bottom: 0.75rem;
}

.fantasy-calendar-view-event {
    max-width: 75vw;
}

.fantasy-no-calendar {
    color: var(--text-muted);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
}
