.confirm-modal .confirm-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.fantasy-calendar-settings .fantasy-calendars {
    border-bottom: 1px solid var(--background-modifier-border);
    border-top: 1px solid var(--background-modifier-border);
    padding: 18px 0 0 0;
}

.fantasy-calendar-settings .fantasy-calendars .existing-calendars > span {
    display: block;
    text-align: center;
    margin-bottom: 18px;
    color: var(--text-muted);
}

.fantasy-calendar-settings
    .fantasy-calendars
    > .setting-item:not(.setting-item-heading) {
    border: 0px;
}

/** Create Calendar Modal */
.modal-container.create-fantasy-calendar > .modal {
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.create-fantasy-calendar .modal-content {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

.create-fantasy-calendar details {
    padding: 0.5rem;
}
.create-fantasy-calendar details[open] {
    border: 1px solid var(--background-modifier-border);
    border-radius: 0.5rem;
}

.create-fantasy-calendar .fantasy-calendar-container .existing-items > span {
    display: block;
    text-align: center;
    color: var(--text-muted);
}

.create-fantasy-calendar details .setting-item {
    border: 0px;
}

.create-fantasy-calendar summary * {
    display: inline;
    margin: 0;
}

.create-fantasy-calendar .fantasy-context-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.25rem;
}

.create-fantasy-calendar button[disabled] {
    cursor: not-allowed;
}

.fantasy-calendar-create-event .event-info {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.fantasy-calendar-create-event .event-info > *,
.fantasy-calendar-create-event .setting-item {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0.75rem;
    border: 0;
}
.fantasy-calendar-create-event .event-info > .event-description {
    display: flex;
    flex-flow: column nowrap;
}

.fantasy-calendar-create-event .event-info textarea {
    resize: vertical;
}

.fantasy-calendar-create-event .event-date-fields {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
    padding-bottom: 0.75rem;
}

.fantasy-calendar-create-event .event-date-fields .event-date-field {
    display: flex;
    flex-flow: column nowrap;
}
