.fantasy-calendar-confirm-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.fantasy-calendar-settings .fantasy-calendars {
    border-bottom: 1px solid var(--background-modifier-border);
    border-top: 1px solid var(--background-modifier-border);
    padding: 18px 0 0 0;
}

.fantasy-calendar-create-calendar input[disabled] {
    cursor: not-allowed;
}

.fantasy-calendar-settings .fantasy-calendars .existing-calendars > span {
    display: block;
    text-align: center;
    margin-bottom: 18px;
    color: var(--text-muted);
}

.fantasy-calendar-settings
    .fantasy-calendars
    > .setting-item:not(.setting-item-heading) {
    border: 0px;
}

/** Create Calendar Modal */
.modal-container.fantasy-calendar-create-calendar > .modal {
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.fantasy-calendar-create-calendar .modal-content {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

.fantasy-calendar-create-calendar .calendar-info .calendar-description {
    display: flex;
    flex-flow: column nowrap;
}

.fantasy-calendar-create-calendar .calendar-info textarea {
    resize: vertical;
}

.fantasy-calendar-create-calendar details {
    padding: 0.5rem;
}
.fantasy-calendar-create-calendar details[open] {
    border: 1px solid var(--background-modifier-border);
    border-radius: 0.5rem;
}

.fantasy-calendar-create-calendar .fantasy-calendar-container .existing-items {
    overflow: auto;
    max-height: 500px;
}

.fantasy-calendar-create-calendar
    .fantasy-calendar-container
    .existing-items
    > span {
    display: block;
    text-align: center;
    color: var(--text-muted);
}

.fantasy-calendar-create-calendar details .setting-item {
    border: 0px;
}

.fantasy-calendar-create-calendar summary * {
    display: inline;
    margin: 0;
}
.fantasy-context-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.25rem;
}

.fantasy-calendar-create-calendar button[disabled] {
    cursor: not-allowed;
}

.fantasy-calendar-create-event .event-info {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.fantasy-calendar-create-event .event-info > *,
.fantasy-calendar-create-event .setting-item {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0.75rem;
    border: 0;
}
.fantasy-calendar-create-event .event-info > .event-description {
    display: flex;
    flex-flow: column nowrap;
}

.fantasy-calendar-create-event .event-info textarea {
    resize: vertical;
}

/** Preset Calendar Modal */
.fantasy-calendar-choose-preset .fantasy-calendar-preset-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}
.fantasy-calendar-choose-preset .fantasy-calendar-preset-container button {
    height: 100%;
    width: 100%;
    white-space: pre-line;
    max-width: 250px;
}
.fantasy-calendar-choose-preset
    .fantasy-calendar-preset-container
    button.mod-cta {
    box-shadow: 0px 0px 5px var(--background-modifier-box-shadow);
}

/** Leap Day Editor */
.fantasy-leap-day-interval-description {
    color: var(--text-muted);
    border: 0;
}
