.fantasy-calendar-date-fields-heading {
    padding-bottom: 0;
}
.fantasy-calendar-create-calendar .fantasy-calendar-date-fields {
    padding-top: 0;
}
.fantasy-calendar-date-fields {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
    padding-bottom: 0.75rem;
}

.fantasy-calendar-date-fields .fantasy-calendar-date-field {
    display: flex;
    flex-flow: column nowrap;
}
